:root {
  --Gray950: hsl(0, 0%, 17%);
  --Gray400: hsl(0, 0%, 58%);
}

#root {
  width: 100%;
  min-height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

#map {
  height: calc(100vh - 15rem);
}

.header {
  background-image: url("../public/images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  color: white;
  text-align: center;
  height: 15rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.header-title {
  padding-top: 1rem;
  font-weight: 700;
}

.result-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  background-color: white;

  padding: 1.2rem;
  border-radius: 6px;

  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1000;
}

.result-item {
  border-right: 1px solid var(--Gray400);
  padding: 1.2rem;
}

.result-item:last-child {
  border-right: none;
}

.result-title {
  color: var(--Gray400);
  margin-bottom: 1rem;
  font-weight: 700;
}

.result-description {
  color: var(--Gray950);
  font-weight: 600;
}

.search-container {
  width: 20rem;
}

.search-form {
  width: 100%;
  display: flex;
}

.search-input {
  flex: 1;
  padding: 0.8rem;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  border: none;
  font-family: "Rubik", sans-serif;
}

.search-btn {
  background-color: var(--Gray950);
  border: none;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  padding: 0.8rem;
}

.search-btn:hover {
  opacity: 80%;
}

.spinner-container,
.error-message {
  height: calc(100vh - 15rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;

  border: 5px dotted black;
  border-radius: 50%;

  animation: spin 5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .result-item {
    padding: 0.8rem;
  }

  .result-title {
    font-size: 0.8rem;
  }
}

@media (max-width: 450px) {
  .result-container {
    grid-template-columns: 1fr;

    padding: 0;
  }

  .result-item {
    border-right: none;
  }
  .result-title {
    margin-bottom: 0;
  }

  .result-container {
    width: 80%;
  }

  .search-container {
    width: 80%;
  }
}
